body{
	margin: 0;
	background-color: black;
}

.glavnoe{
	font-family: 'Oswald', sans-serif;

	color: white;
	font-size: 50px;
	text-align: center;	
}

.suretter{
	text-align: center;
	padding-bottom: 10%;
}

.text1{
	margin-right: 25%;
	font-size: 20px;
}


.childhood{

	display: flex;
	padding-left: 13%;
	padding-right: 13%;
	padding-top: 5%;
	background-color: white;
	padding-bottom: 7%;
}

.text2{
	margin-left: 25%;
	font-size: 20px;
}


.teenager{
	color: white;
	display: flex;
	padding-left: 13%;
	padding-right: 13%;
	padding-top: 5%;
	background-color: black;
	padding-bottom: 7%;
}


.text3{
	margin-right: 25%;
	font-size: 20px;
}


.adult{

	display: flex;
	padding-left: 13%;
	padding-right: 13%;
	padding-top: 5%;
	background-color: white;
	padding-bottom: 7%;
}

.education{
	height: 600px;
}

.school{
	background-image: url('school.jpeg');
	background-size: cover;
	text-align: center;
	height: 120%;
	padding-top: 30%;
	background-attachment: fixed;
  	background-position: center;
}

.schooltitle{
	font-family: 'Oswald', sans-serif;
	font-size: 100px;
	margin-bottom: 30%;
	color: white;
}

.schooltext{
	font-size: 20px;
	padding-top: 5%;
	padding-bottom: 5%;
	padding-left: 10%;
	padding-right: 10%;
	font-family: 'Oswald', sans-serif;
	background-color: black;
	color: white;
}

.university{
	background-image: url('background.jpeg');
	background-size: cover;
	text-align: center;
	height: 200%;
	padding-top: 30%;
	background-attachment: fixed;
  	background-position: center;
}

.universitytitle{
	font-family: 'Oswald', sans-serif;
	font-size: 100px;
	margin-bottom: 30%;
	color: white;
}

.universitytext{
	font-size: 20px;
	padding-top: 5%;
	padding-bottom: 5%;
	padding-left: 10%;
	padding-right: 10%;
	font-family: 'Oswald', sans-serif;
	background-color: black;
	color: white;
}
